@import "../variable";

.btn {
    background: none;
    color: $accent-color;
    font-weight: 600;
    font-size: 16px;
    margin: 32px 0 0 0;
    border: solid 4px $accent-color;
    border-radius: 10px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 10px 0;
    transition: border-color ease-in-out 250ms, color ease-out 250ms;

    &:focus {
        outline: 2px dotted $accent-color;
    }

    &:hover {
        color: $active-color;
        border-color: $active-color;
        transition: border-color ease-in-out 250ms, color ease-out 300ms;
    }
}

.input {
    flex: 2;
    font-size: 16px;
    text-indent: 10px;
    padding: 10px 0;
    background: $back-color-dark;
    color: $accent-color;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    letter-spacing: 2px;

    &:focus {
        outline: none !important;
    }
}
input[type="file"] {
    display: none;
}

