@import '../variable';

.newToDo{
    display: flex;
    justify-content: center;
    align-items: center;
    & > *:not(:last-child){
        margin-right:12px;
     }
}
.listContainer{
    list-style: none;
    padding: 0;
    text-align: center;
    list-style: inside;
    max-width: 300px;

    .listItem{
        display: flex;
        background: $back-color-dark;
        padding: 0 0 0 10px;
        border-radius: 10px;
        flex-direction: row;
        justify-content: space-between;
        margin: 16px 0;
        font-size: 16px;

        *{
            height: auto;
            align-self: center;
        }
        button{
            margin-left: 16px;
            max-height: 42px;
            background-color: $active-color;
        }
    }
}