@import "../variable";

.btn {
    background: none;
    color: $accent-color;
    font-size: 16px;
    margin: 32px 0 0 0;
    border: solid 4px $accent-color;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 10px 0;

    &:focus {
        outline: 2px dotted $accent-color;
    }

    &:hover {
        color: $active-color;
        border-color: $active-color;
    }
}

.input {
    flex: 2;
    font-size: 16px;
    text-indent: 10px;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &:focus {
        outline: none !important;
    }
}
input[type="file"] {
    display: none;
}

